<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mapas</title>
</head>
<body>
    <form method="POST">
        {% csrf_token %}
        <input type="text" name="lat" placeholder="Latitud" id="lat" value="{{ lat }}">
        <input type="text" name="lon" placeholder="Longitud" id="lon" value="{{ lon }}">
        <input type="submit" value="Enviar">
    </form>

    <div id="map"></div>

    <style>
        #map {
            height: 40vh;
            width: 50vh;
        }
    </style>

    <script>
        function iniciarMap() {
            let latitud = parseFloat(document.getElementById('lat').value);
            let longitud = parseFloat(document.getElementById('lon').value);
            
            var coord = { lat: latitud, lng: longitud };
            var map = new google.maps.Map(document.getElementById('map'), {
                zoom: 18,
                center: coord
            });
            var marker = new google.maps.Marker({
                position: coord,
                map: map
            });
        }
    </script>

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBDaeWicvigtP9xPv919E-RNoxfvC-Hqik&callback=iniciarMap"></script>
</body>
</html>
